<header class="navbar">
  <div class="container">

    <div class="nav-logo">
      <a ui-sref="main" class="brand"><img src="images/camera_logo.png" alt="logo"/></a>
    </div>

    <nav class="nav-right">
      <ul class='nav-right-list app-navbar'>
        <li ng-if='isAuthenticated()'>
          <a ui-sref-active='active' ui-sref="notes">My notes</a>
        </li>
        <li ng-if='isAuthenticated()'>
          <a ui-sref-active='active' ui-sref="photos">My albums</a>
        </li>
        <li ng-if='isAuthenticated()'>
          <span class='nav-username'>{{getCurrentUser().first_name}}</span>
        </li>
        <li ng-if='false' class='user-avatar'>
          <img class='img-circle' ng-src="{{getCurrentUser().photo_50}}"/>
        </li>
        <li ng-if='!isAuthenticated()'>
          <a ui-sref="login">Log in</a>
        </li>
        <li ng-if='isAuthenticated()'>
          <a ui-sref="logout">Log out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
