<div class="col-sm-4 notes_col">
  <button class="add_note" ng-click="addNewNote()">+</button>
  <div ng-repeat='note in notes' class="note-item">
    <button ng-click='removeNote()' class="delete_note-btn">x</button>
    <h3>{{note.title}}</h3>
    <p>{{note.text}}</p>
  </div>
</div>

<div ng-show='addingNewNote' class="add-note-form col-sm-8">
  <form
    name="newNoteForm"
    ng-submit="saveNewNote()"
    novalidate>

    <!-- NOTE TITLE -->
    <div class="form-group">
      <label for="note-title">Title</label>
      <input
        name="new-note-title"
        ng-model="newNoteTitle"
        type="text"
        class="form-control"
        id="note-title"
        required>
    </div>

    <!-- NOTE TEXT -->
    <div class="form-group">
      <label for="note-text">Note text</label>
      <textarea
        name="new-note-text"
        ng-model="newNoteText"
        class="form-control"
        id="note-text" cols="30"
        rows="5">
      </textarea>
    </div>

    <!-- BUTTONS -->
    <button ng-disabled='newNoteForm.$invalid' type="submit" class="btn btn-default">Save</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>
