<div class="settings-container">

  <h2 class="auth-title">Settings</h2>

  <form name='settingsForm' ng-submit='submit()' class="form-horizontal" novalidate>

    <!-- NAME -->
    <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input
          name="user-name"
          ng-model="user.displayName"
          type="text"
          class="form-control"
          id="userName"
          placeholder="Name"
          required>
      </div>
    </div>

    <div class="form-group">
      <label for="userEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input
          name="user-email"
          ng-model="user.email"
          type="text"
          class="form-control"
          disabled
          id="userEmail"
          placeholder="email"
          required>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          ng-click="updateUser()"
          ng-disabled='settingsForm.$pristine'
          type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>

  <div ng-show='user.vk_id || user.flickr_id' class="attached-accounts col-sm-10 col-sm-offset-2">
    <div class="services-title">Connected accounts</div>

    <!-- Account title -->
    <div class="attached-account">
      <div class="account-title">{{ user.vk_id && 'Vkontakte'}}</div>

      <div class="account-details">

        <!-- Account disconnect button -->
        <div ng-click="disconnectVK()" class="button_connected">
          <div class="button btn_connected">Connected</div>
          <div class="button btn_disconnect">Disconnect</div>
        </div>

        <!-- Account avatar -->
        <a ng-href='//vk.com/id{{vkUser.uid}}' target='_blank' class="account-avatar">
          <img ng-src="{{vkUser.photo_50}}" alt="" class='img-circle'/>
        </a>

        <!-- Username -->
        <div class="account-name">{{vkUser.first_name}} {{vkUser.last_name}}</div>
      </div>
    </div>

  </div>

  <div ng-hide='user.vk_id || user.flickr_id' class="auth-btns col-sm-10 col-sm-offset-2">
    <h5 class="connect-accounts-header">Connect your social account</h5>
    <p class="connect-accounts-text">It will allow you to login into app in one click</p>
    <!-- VK.COM -->
    <button
      ng-show="!user.vk_id"
      ng-click="connectVK()"
      type="button"
      class="auth-btn">
      <i class="fa fa-vk"></i>
    </button>
  </div>

</div>
