<div class="settings-container">

  <h2 class="auth-title">Settings</h2>





  <form name='settingsForm' ng-submit='submit()' class="form-horizontal" novalidate>

    <!-- NAME -->
    <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input
          name="user-name"
          ng-model="user.name"
          type="text"
          class="form-control"
          id="userName"
          placeholder="Name"
          required>
      </div>
    </div>


    <div ng-show='user.vk_id || user.flickr_id' class="attached-accounts col-sm-10 col-sm-offset-2">
    <h5 class="settings-attach-account-header">Attached accounts</h5>

      <div class="attached-account">
        <div class="account-title"></div>
        <div class="account-details"></div>
      </div>
    </div>

    <div class="auth-btns col-sm-10 col-sm-offset-2">
      <h5 class="settings-att__ach-account-header">Attach account</h5>
      <!-- VK.COM -->
      <button
        ng-show="!user.vk_id"
        ng-click="attachVK()"
        type="button"
        class="auth-btn">
        <i class="fa fa-vk"></i>
      </button>

      <button
        ng-click="attachVK()"
        type="button"
        class="auth-btn">
        <i class="fa fa-facebook"></i>
      </button>

      <button
        ng-click="attachVK()"
        type="button"
        class="auth-btn">
        <i class="fa fa-twitter"></i>
      </button>

      <button
        ng-click="attachVK()"
        type="button"
        class="auth-btn">
        <i class="fa fa-github"></i>
      </button>

    </div>



    <!-- BUTTON -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-disabled='settingsForm.$pristine' type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
