<!-- <div tiles>
    <div class="block" ng-repeat="(albumId, album) in albums">
        <h3>{{album.title}}</h3>
        <p>{{album.description}}</p>
        <a href="#/albums/{{albumId}}" class="btn">View</a>
    </div>
    <div class="block">
        <form ng-submit="createAlbum(albumTitle, albumDesc, isPublic)">
            <fieldset>
                <input type="text" ng-model="albumTitle" placeholder="Note Title">
                <textarea rows="3" ng-model="albumDesc" placeholder="Note content."></textarea>
                <label class="checkbox">
                  <input type="checkbox" ng-model="isPublic"> Make album public?
                </label>
                <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
    </div>
</div> -->
