
.login-wrap {
   display: block;
   text-align: center;
   vertical-align: middle;
}


.form-signin {
    min-height: 200px;
    width: 100%;
    max-width: 360px;
    min-height: 220px;
    margin: 74px auto 0;
    position: relative;
    padding: 20px;
    padding-top: 28px;
    background: #f5ead9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}


.login-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 19px;
}

.vk_login-btn {
    cursor: pointer;
}

.form-signin input[type=text],
.form-signin input[type=email],
.form-signin input[type=password],
.create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
    margin-bottom: 5px;
}
