<header class="navbar">
  <div class="container">

    <div class="nav-logo">
      <a ui-sref="main" class="brand"><img src="images/camera_logo.png" alt="logo"/></a>
    </div>

    <nav class="nav-right">
      <ul class='nav-right-list app-navbar'>
        <li ng-if='isAuthenticated()'>
          <a ui-sref-active='active' ui-sref="albums">My albums</a>
        </li>

        <li ng-if='isAuthenticated()'>
          <div class="btn-group profile-btn-group" uib-dropdown is-open="status.isopen">

            <!-- BUTTON -->
            <button id="single-button" type="button" class="profile-btn" uib-dropdown-toggle ng-disabled="disabled">
              <img
                class='profile-avatar'
                ng-src="{{cachedUser.picture || blankAvatar}}" alt="" /> <span class="caret"></span>
            </button>

            <!-- DROPDOWN -->
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <!--<li class="divider"></li>-->
              <li role="menuitem"><a ui-sref="profile">Your profile</a></li>
              <li role="menuitem"><a ui-sref="logout">Log out</a></li>
            </ul>
          </div>
        </li>

        <li ng-if='!isAuthenticated()'>
          <a ui-sref="login">Log in</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
