html, body {
    height: 100%;
}


body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    min-height: 100%;
}
*, *:before, *:after {box-sizing:  border-box !important;}

.app-wrap {
    border: 10px solid #f5ead9;
    min-height: 100%;
    padding: 10px;
}


.bg-blue {
    background-color: #54769A;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 0.5s ease;
}

.content {
    display: table;
    width: 100%;
    height: calc(100% - 65px);
}


.content .album {
    min-height: 200px;
    max-width: 290px;
    width: 100%;
    margin:20px auto;
    padding: 20px;
    background: #f5ead9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    position: relative;
}

.content .photo {
    min-height: 200px;
    max-width: 290px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #f5ead9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    position: relative;
}

.content .album fieldset, .content .photo fieldset {
    border: none;
}

// @media (max-width: 767px) {
//   .collapsing, .collapse.in {
//     z-index: 2;
//     position: relative;
//     border: 10px solid #f5ead9;
//   }
// }

