
a.view {
    color: #333;
}

a.view:hover, a.view:focus {
    color: #333;
}

.x-small {
    color: #333333;
    font-size: 11px;
}

.medium {
    font-size: 18px;
    font-weight: bold;
}



.bottom-right-corner {
    position: absolute;
    bottom: -85px;
    right: -10px;
}
.bottom-right-corner-photo {
  position: absolute;
  bottom: -70px;
  right: -10px;
}
.arrow-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}



.active {
    background: #FFF;
}

.faded {
    opacity: 0.3;
}



/* HELPER CLASSES */

.fl_l {
    float:left;
}

.fl_r {
    float: right;
}





/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(245, 234, 217, .6);
                url:('/assets/img/loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */





