.nav-wrap {
    height:65px;
}


.navbar {
    border-radius: 0;
    margin-bottom: 13px;
}

.user-avatar {
    margin: 0 10px;
}

.img-circle {
  @media (max-width: 450px){
    width: 35px;
    height: 35px;
  }
}


.nav-logo {
    float: left;
    height: 50px;
}

.nav-logo > .brand {
    font-size: 25px;
    color: #f5ead9;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
}

.nav-right {
    float: right;
}

.nav-right-list {
    visibility: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    a {
        display: block;
        cursor: pointer;
        padding: 15px;
        &:hover {
            background: rgba(0, 0, 0, 0.15);
        }
    }
}

.nav-right-list.active {
  visibility: visible;
}

.nav-username {
    display: block;
    padding: 15px;
    cursor: default;

  @media (max-width: 450px) {
    display: none;
  }
}

.navbar a,
.navbar li {
    color: #f5ead9;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}


